.mainbody {
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 50%;
  height: 25vh;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  z-index: 2;
}

.section {
  border: 1px solid #fff;
  height: 100%;
  overflow: hidden;

  cursor: pointer;
  transition: 0.5s;
  display: flex;
  justify-content: center;
}
.section:hover {
  background: rgba(255, 255, 255, 0.8);
}
.selected {
  background: rgba(255, 255, 255, 0.8);
}
