.mainbody {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 50%;
  height: 30vh;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.4);
  position: absolute;

  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  pointer-events: none;
  z-index: 2;
}

.section {
  border: 1px solid #fff;
  cursor: pointer;
}

.section:hover {
  background: rgba(255, 255, 255, 0.8);
}
